* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.custom-container {
  z-index: 1000;
}
.loginPage {
  background: url("../assets/login-bg.jpg");
  background: linear-gradient(rgba(11, 11, 11, 0.5), rgba(10, 10, 10, 0.5)),
    url("../assets/login-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 130%;
}

.loginForm {
  background-color: rgba(1, 32, 93, 0.6);
  color: white;
}
ul li :hover {
  background-color: gray;
}
.content-container {
  height: 100%;
  overflow-y: auto; /* Enable vertical scrolling */
}
.table-container {
  max-height: 400px; /* Set your desired max height */
  overflow-y: auto;
  overflow-x: auto;
}

.table {
  min-width: 1000px; /* Set a min-width to ensure horizontal scrolling */
}

.table th,
.table td {
  white-space: nowrap; /* Prevent text from wrapping to keep table cells narrow */
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
  .form-control {
    width: 100% !important;
    overflow: scroll;
  }
}
